@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-6 mt-5 col-sm-12 order-md-1 order-2">
            <p class="mt-4 text-center p-1 font-italic font-weight-bolder h1">Easy</p>
            <p class="p-1 text-center font-italic font-weight-bold text-primary h1">messaging</p>
            <p class="p-1 text-center font-italic font-weight-bold h2">ahead</p>
            <p class="w-100 mt-5 pb-5 custom-paragraph-home">
                Wire is your hub for comunication with all your friends
                and people you want to talk to without fear of someone sneaking.
                We delete all messages from the last 24 hours by default and if desired, part/all of them
                for a period chosen by you.
            </p>
        </div>
        <div class="col-8 col-md-4 mt-3 order-lg-2 order-1 mx-auto">
            <img src="~/home/messaging2.png" class="img-fluid rounded shadow mx-auto d-block" />
        </div>
    </div>
    <div class="row mt-5">
        <h2 class="text-center mt-5">Why use Wire?</h2>
        <p class="text-center">Explore below to see why Wire is a simple, powerful, and secure messenger</p>
        
        <!-- Features Grid -->
        <div class="row mt-5 justify-content-center">
            <div class="col-12 col-lg-5 text-center mt-5 p-5">
                <img src="~/home/mitm2.png" class="img-fluid mb-3" alt="Secure" />
                <h3>End-to-End Encryption</h3>
                <p>Your messages are safe from prying eyes. We can't read your messages or listen to your calls, and no one else can either. 
                    Privacy isn’t an optional mode — it’s just the way that Wire works. </p>
            </div>
            <div class="col-12 col-lg-5 text-center mt-5 p-5">
                <img src="~/home/noadds3.png" class="img-fluid mb-3" alt="Cross-Platform" />
                <h3>No ads. No trackers.</h3>
                <p>There are no ads, no affiliate marketers, and no creepy tracking in Wire. 
                    So focus on sharing the moments that matter with the people who matter to you.</p>
            </div>
            <div class="col-12 col-lg-5 text-center mt-3 p-5">
                <img src="~/home/freeforeveryone.png" class="img-fluid mb-3" alt="Open Source" />
                <h3>Free for Everyone</h3>
                <p>Wire is an independent nonprofit. We're not tied to any major tech companies, and we can never be acquired by one either.</p>
            </div>
        </div>
    </div>
</div>