@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-6 mt-5 col-sm-12 order-md-1 order-2">
            <p class="mt-4 text-center p-1 font-italic font-weight-bolder h1">Easy</p>
            <p class="p-1 text-center font-italic font-weight-bold text-info h1">messaging</p>
            <p class="p-1 text-center font-italic font-weight-bold h2">ahead</p>
            <p class="w-100 mt-5 pb-5 custom-paragraph-home">
                Wire is your hub for comunication with all your friends
                and people you want to talk to without fear of someone sneaking.
                We delete all messages from the last 24 hours by default and if desired, part/all of them
                for a period chosen by you.
            </p>
        </div>
        <div class="col-8 col-md-6 mt-4 order-lg-2 order-1 mx-auto">
            <img src="~/home/bird.jpg" class="img-fluid rounded shadow mx-auto d-block" />
        </div>
    </div>
</div>